---
layout: default
title: Join GitLab
twitter_image: '/images/tweets/teamgitlab.jpg'
suppress_header: true
extra_css:
  - jobs.css
extra_js:
  - jobs.js
---

.container.listing-container
  .content.tile{id: 'opportunities'}
    %h1 Current Vacancies
    %p
      All of our vacancies are hosted on our applicant tracking system (ATS),
      %a{href: 'https://www.greenhouse.io/'} Greenhouse.
      The below list will dynamically load our current vacancies from Greenhouse; if you do not see the list, please view the
      %a{href: 'https://boards.greenhouse.io/gitlab'} vacancies directly on Greenhouse.
    %p
      We don’t work with recruiters or agencies, and we (unfortunately!) can’t hire in
      %a{href: '/jobs/faq#country-hiring-guidelines'} some countries.
    %a{href: '/jobs/faq'} Please see this page for more details and other FAQs.

  .content.tile
    #grnhse_app
    %script{:src => "https://boards.greenhouse.io/embed/job_board/js?for=gitlab", :type => "text/javascript" }
