---
layout: comparison_page
trial_bar: true
title: GitLab compared to other tools
description: "This page compares the features of GitLab software to non-GitLab software. Review the pros and cons of each to help make your decision easier."
suppress_header: true
image_title: '/images/devops-tools/title_image.png'
extra_css:
  - compared.css
  - release-posts.css
extra_js:
  - comparison.js
  - bootstrap-tooltip.js
---

- competitors = data.features.competitors
= partial "includes/home/sdlc-alt"

:markdown
  There are a couple of organizations that are building a stack for the SDLC.
  Below, we've listed the [stages of the DevOps
  toolchain](/stages-devops-lifecycle/), [product
  categories](/handbook/product/categories/), and the products from the different
  vendors.

  | Stage     | Product category         | GitLab                    | GitHub             | Atlassian self hosted / SaaS   | Legacy Open Source |
  |-----------|--------------------------|---------------------------|--------------------|--------------------------------|--------------------|
  | Plan      | Portfolio management     | GitLab Portfolio management | n/a              | JIRA Portfolio                 | n/a                |
  | Plan      | Issue tracking           | GitLab Issues             | GitHub Issues      | JIRA / Trello                  | Redmine            |
  | Create    | Version control          | GitLab SCM                | GitHub             | BitBucket Server / .org        | SVN                |
  | Create    | Code review              | GitLab SCM                | GitHub             | Crucible / BitBucket.org       | Gerrit             |
  | Verify    | Continuous integration   | GitLab CI                 | Travis CI          | Bamboo / BitBucket CI          | Jenkins CI         |
  | Verify    | Security testing         | GitLab SAST               | Snyk               | n/a                            | SonarQube          |
  | Package   | Container registry       | GitLab Container Registry | Docker Trusted Registry | n/a                       | Jfrog Artifactory  |
  | Release   | CD/Release automation    | GitLab CD                 | Codefresh          | Bamboo / BitBucket Deployments | Jenkins Pipeline   |
  | Configure | Configuration management | GitLab Secret variables   | n/a                | n/a / Environment variables    | Puppet             |
  | Monitor   | Monitoring               | GitLab Metrics            | New Relic          | n/a                            | InfluxDB           |
