---
title: What is GitLab?
description: "GitLab is a single application for the entire DevOps lifecycle."
suppress_header: true
extra_css:
  - auto-devops.css
  - product.css
extra_js:
  - features.js
---

.blank-header
  %img.image-border.image-border-left{ src: "/images/home/icons-pattern-left.svg" }
  %img.image-border.image-border-right{ src: "/images/home/icons-pattern-right.svg" }
  .header-content
    %img.hero-image-small{ src: "/images/devops-tools/gitlab-logo.svg" }
    %h1 What is GitLab?
    %p
      GitLab is the first single application for the entire DevOps lifecycle. Only GitLab enables
      %a{ href: "/concurrent-devops/", target: "_blank" }Concurrent DevOps
      , unlocking organizations from the constraints of the toolchain. GitLab provides unmatched visibility, higher levels of efficiency, and comprehensive governance. This makes the software lifecycle 200% faster, radically improving the speed of business.
    %a.btn.cta-btn.accent{ href: "/why/" } Why choose GitLab

.content-container
  .content.tile
    %p
      <iframe width="853" height="480" src="https://www.youtube.com/embed/MqL6BMOySIQ?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    :markdown
      [GitLab started](/history/) as an open source project to help teams collaborate on software development. By delivering new functionality at an [industry-leading pace](/2017/07/06/gitlab-top-30-highest-velocity-open-source/), GitLab now provides a single application for [the entire software development and operations lifecycle](/stages-devops-lifecycle/). GitLab provides everything you need to [Manage](/stages-devops-lifecycle/manage/), [Plan](/stages-devops-lifecycle/plan/), [Create](/stages-devops-lifecycle/create/), [Verify](/stages-devops-lifecycle/verify/), [Package](/stages-devops-lifecycle/package/), [Release](/stages-devops-lifecycle/release/), [Configure](/stages-devops-lifecycle/configure/), [Monitor](/stages-devops-lifecycle/monitor/), and [Secure](/stages-devops-lifecycle/secure/) your applications.

  %a.btn.cta-btn.accent{ href: "/product/" } All GitLab capabilities

  .content.tile
    :markdown
      ## Compare GitLab to other tools

      If you're not using GitLab today, your DevOps lifecycle is spread across any number of applications. These silos take overhead to integrate, manage, configure, and maintain, slowing down your team. Moving to a single application will speed up your workflow and help you deliver better software, faster.

  %a.btn.cta-btn.accent{ href: "/devops-tools/" } See how GitLab compares

  .content.tile
    :markdown
      ## Open source and open core?

      GitLab is an open source project with [over 2000 contributors](http://contributors.gitlab.com/) maintained by GitLab Inc. You can [install and self-manage]((/installation/) ) GitLab Core under and MIT license or use [GitLab's commercial software](/free-trial/) built on top of the open source edition with additional features. We call this, "[open core](/2016/07/20/gitlab-is-open-core-github-is-closed-source/)."

      [Hundreds of thousands of organizations](/customers/) use and contribute to GitLab. This community helps ensure the long-term viability of GitLab as they work together to release a new stable version on [the 22nd of every month](/releases/).

  %a.btn.cta-btn.accent{ href: "/installation/" } Install GitLab

  .content.tile
    :markdown
      ## Get started with GitLab

      You can [get started with GitLab today](/get-started/). Our team would love to answer your questions and help achieve a 200% faster DevOps lifecycle.

  %a.btn.cta-btn.accent{ href: "/get-started/" } Get started
